.menu{
      float:right;
      margin:5px;
      font-family: Libre Baskerville;
}
.menu a{
      font-size: 20px;
      display: inline-block;
      height: 25px;
      line-height: 25px;
      width: 150px;
      background-color: #000;
      margin-right: 4px;
      padding: 5px;
      text-align: center;
}
.menu a:hover{
      background-color: #333;
      text-decoration: none;
}
.menu a.selected{
      color: #fff;
}
.header-main {
	background-image: url("https://images.pexels.com/photos/236950/pexels-photo-236950.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
	height: 250px;
	text-align: center;
	font-family: Libre Baskerville;
	margin-bottom: 40px;
}
body {
    background-size: auto 700%;
    background-color: #1c1c1c;
    padding: 0;
    margin: 0;
}
h1{
	text-align: center;
	color:#fff;
	padding-top:50px;
	font-weight:bold;
	font-size:70px;
	font-family: Libre Baskerville;
	margin:0;
}
.header-main h1{
	display: block;
	margin: 0;
	line-height: 200px;
}
.about-me{
	padding-left: 12px;
	text-align: left;
	font-family: Libre Baskerville;
	width: 40%;
	position: relative;
	display: inline-block;
}
p {
    color: #FFF;
    font-size: 20px;
}

a {
    color: #8b7244;
    font-size: 20px;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
strong {
	text-transform: uppercase;
	color: #8b7244;
}
ul {
	list-style: none;
}
.image{
	width: 50%
}

#picme {
	float:right;
	width:50%;
	position: relative;
	display:inline-block;
}
.img-mainpage img {
    width: 100%;
    height: auto;
}
#contact{
	margin: 50px auto;
	display: block;
	width:500px;
}
#contact label, #contact input, #contact textarea, #contact select{
	float: left;
	width: 200px;
	display: block;
	height: 22px;
	line-height: 22px;
	font-size: 13px;
	margin: 6px 0;
	border: none;
}
#contact label{
	clear: left;
	text-align: right;
	padding-right: 12px;
	color: #fff;
	font-family: Libre Baskerville;
}
#contact textarea{
			height: 110px;
}
.container img {
      width: 100%;
      height: auto;
      margin:5px;
}
@media(min-width: 992px){
      .col-md-4 {
    width: 100%;}
}
h2{
      text-align: center;
      color:#8b7244;
      padding-bottom:15px;
      font-size:40px;
      padding-top: 15px;
      font-weight:bold;
      font-family: Libre Baskerville;
}
.contact-info{
	text-align: center;
	font-family: Libre Baskerville;
	font-size: 20px;
}


